@model IEnumerable<CrystalReportMVC.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Create New", "Create")

    <div><a href="@Url.Action("ExportCustomers")"> Export Customers </a></div>
    <div><a href="@Url.Action("ExportCustomersFromDB")"> Export Customers From DB </a></div>
    <div><a href="@Url.Action("ExportMenuByCustomer")"> Export Menu By Customer </a></div>
    <div><a href="@Url.Action("ExportMenuByCustomer3")"> Export Menu By Customer3 </a></div>
    <div><a href="@Url.Action("ExportMenuByCustomer4")"> Export Menu By Customer4 </a></div>
</p>

<form action="@Url.Action("ExportMenuByCustomer2")" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-10">
            <input type="date" value="" name="criado_em" id="criado_em" class="btn btn-default" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="ExportMenuByCustomer2" class="btn btn-default" />
        </div>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
